[Unit]
Description=Web hooks for FailHadoop self-service
After=network.target

[Service]
User=sbathe
Group=sbathe
WorkingDirectory=/home/sbathe/failhadoop/api
ExecStart=/usr/bin/python /home/sbathe/failhadoop/api/api.py
Restart=always

[Install]
WantedBy=multi-user.target
